.banner {
    background-size: cover;
    height: 600px;
    color: white;
    margin-bottom: 10px;
}

.content {
    padding-top: 250px;
    height: 190px;
    margin-left: 40px;
}

.title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.description {
    font-size: 12px;
    max-width: 300px;
    padding-bottom: 20px;
}

.banner_buttons {
    display: flex;
    align-items: center;
    
}

.play-button {
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    border-radius: 3px;
    padding: 0.2rem 1rem;
    background-color: white;
    cursor: pointer;
    margin-right: 0.4rem;
    width: 65px;
    height: 35px;

}

.play-icon {
    color: black;
}

.play-text {
    color: black;
    font-size: 16.6px;
    font-weight: 600;
    margin-bottom: 4px;
}

.info-button {
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    border-radius: 3px;
    padding: 0.1rem 1rem;
    cursor: pointer;
    background-color: rgba(51, 51, 51, 0.5);
    width: 110px;
    height: 40px;
}

.info-icon {
    padding-right: 5px;
}

.info-text {
    font-size: 16.6px;
    font-weight: 600;
    margin-bottom: 4px;
}

.play-button:hover, .info-button:hover {
    color: black;
    background-color: #e6e6e6;
}